.technology-gallery{
      background-color:whitesmoke;
margin-bottom: 55px;
}
.technology-heading{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
     font-weight: bold;
}
.technology-gallery-container{
      display: grid;
      grid-template-columns: repeat(3, 275px);
      row-gap: 22px;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-top: 55px;
      padding-bottom: 60px;
    
}
.technology-heading p{
      margin-top: 58px;
      font-size: 40px;
}
.technology-galery-image img{
   width:250px;
   height:220px;
   border:0.5px solid silver;
   border-radius: 30px;
}
.technology-gallery-text{
     position: relative;

}
.technology-gallery-text a{
      position: absolute;
      bottom:25px;
      width:250px;
      text-align: center;
      text-decoration: none;
      color:#1B1C1D;
}
.technology-gallery-text a:hover{
      text-decoration: underline;
}


