
.container-3-heading-container{
      position: relative;
      margin-top: 68px;
      display: flex;
      justify-content: center;
      align-items: center;
    color:#1B1C1D;
     font-size: 32px;
     font-weight:bold;
}

.products-gallery{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:25px;
  margin-top: 50px;
  margin-bottom: 70px;

}
.gallery{
  width: 395px;
 position: relative;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01), 0 6px 20px rgba(0, 0, 0,0.1);
}
.gallery-image img{
  width:395px;
height:230px;

}
.gallery-text{
 
  width:395px;
  height:250px;
  line-height:1.5;
  position: relative;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;

}
.gallery-text .heading{
  font-family: sans-serif;
font-size: 23px;
color:#222323;
margin-bottom: 15px;
}
.gallery-text .button{
position: absolute;
margin-top: 19px;
font-size: 20px;
color:#0070d2;
text-decoration: none;
transition:  'text-decoration' 1s ;
}
.gallery-text .button:hover{
  text-decoration: underline;
}
.gallery-text a i{
  font-size: 13px;
}
.container-3-heading-hide{
  display:none;
}

